body {
    margin: 0px;
    padding: 0px;
}

/*  display: none; No reserva su lugar o espacio 
opacity: 0; Reserva su espacio */

/* img {
    float: right;
    width: 400px;
    height: 300px;
}

.parrafo {
    background-color: red;
    width: 400px;
    height: 300px;
    float: left;
}

p {
    clear: both;
} */